---
layout: layouts/resource.njk
layoutStyle: 'wide'
showHomeLink: true
postTitle: Monitor information and data
description:
date: 2020-01-09
---

<div class="lede resource--wide__head">
  <p>
    For every monitor in the network, you can get detail charts and download data files with every single reading taken.
  </p>
  <p>
    Feel free to use this data in your own research and projects.
    If you do, please cite Community Environmental Monitoring and OK Lab Stuttgart.
    The data is licensed under an <a href='https://opendatacommons.org/licenses/dbcl/1.0/' title='Read the license'>Open Data Commons Database Contents License DbCL v1.0</a>.
  </p>
  <p>
    All charts and data infrastructure is created and maintained by the legends at <a href="https://luftdaten.info/en/home-en/" title="See the OK Lab Stuttgart website">OK Lab Stuttgart</a>.
  </p>
</div>

<table class='figure--wide table--monitors'>
  <thead>
    <th>Location</th>
    <th>Map ID</th>
    <th>Sensor ID</th>
    <th>Date Installed</th>
    <th>Charts</th>
    <th>Data files</th>
  </thead>
  <tbody>
    {%- for monitor in monitors -%}
      <tr>
        <th>{{ monitor.location }}</th>
        <td>{{ monitor.mapID }}</td>
        <td>{{ monitor.sensorID }} </td>
        <td>{{ monitor.dateInstalled }}</td>
        <td>
          <a href='{{ "https://maps.sensor.community/grafana/d/GUaL5aZMz/pm-sensors?orgId=1&var-chipID=esp8266-" + monitor.mapID }}'>
            View PM charts
          </a>
        </td>
        <td>
          <a href='https://www.madavi.de/sensor/csvfiles.php?sensor=esp8266-{{monitor.mapID}}' title='Download zip and csv files with every reading'>
            Download CSV files
          </a>
        </td>
      </tr>
    {%- endfor -%}
  </tbody>
</table>
