<header class="siteHeader">
  <a class="logo" role="banner" href="{{ '/' | url }}">
    <small>NSW, Australia</small>
    Community Environmental Monitoring
  </a>
  {% if showHomeLink %}
    <a href="{{ '/' | url }}">← Home</a>
  {% endif %}
</header>
