<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ (postTitle + " | ") if postTitle }}{{ metadata.siteTitle }}</title>
    <meta name="Description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href={{ '/style.css' | url }}>
  </head>
  <body>
    {% include "siteHeader.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "siteFooter.njk" %}
  </body>
</html>
