---
layout: layouts/base.njk
showHomeLink: true
---
<article class="resource--{{ layoutStyle }}">
  <div class="{{ 'resource--wide__head' if (layoutStyle == 'wide') }}">
    <h1>{{ postTitle }}</h1>
    <footer class="post__meta">
      <dl>
        <dt>Updated</dt>
        <dd><time class="post-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></dd>
      </dl>
      {% if metadata.repositoryFilesUrl %}
        <a href="{{ page.inputPath | replace("./", metadata.repositoryFilesUrl) }}">
          Suggest an update
        </a>
      {% endif %}
    </footer>
  </div>
  <div class="post__body">
    {{ content | safe }}
  </div>
</article>

<nav class="endNav">
  <a href="{{ '/' | url }}">← Home</a>
</nav>
